#hamburger {
    position: absolute;
    left: 370px;
}


/* Adjust z-index to ensure left drawer is on top */
.drawer {
    z-index: 999; /* Set a high z-index value */
  }
  
  /* Ensure right content is below left drawer */
  .right-content {
    position: relative;
    z-index: 1; /* Set a lower z-index value */
  }
  